/*Página comentários*/
.fundocomentarios {
    background: rgb(236, 228, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 40px 20px;
    
}
.titulocoment{
  position: relative;
  margin-bottom: 30px;
}
.titulocoment a {
  position: absolute;
  left: 20px;
  color: #8B4513; 
  font-weight: bold; 
}

.titulocoment a:hover {
  color: #A0522D;   
}

.titulocoment h2{
  text-align: center;
  margin: 0;
  color: #8B4513;
}

hr{
    color: #8B4513;
    border-top: 1px solid;
    margin: 20px 0;
}


hr {
    color: #4d2000;
    border-top: 1px solid ;
    margin-bottom: 20px;
}

     
.comment-card {
    background-color: transparent; 
    border: none;
    margin-bottom: 20px; 
    padding: 20px 0; 
    text-align: left;
    margin-left: 20px;
}

.comment-user {
    font-weight: bold;
    color: #8B4513; 
    font-size: 18px;
    padding-left: 20px;  
}

.comment-text {
    font-size: 18px;
    margin-top: 10px;
    padding-left: 8px;  
}
.add-comment {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}
.add-comment .form-control {
    border-radius: 15px;
    background-color: #D2B48C; 
    height: 50px;
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

.add-comment .btn {
    border-radius: 50%;
    background-color: #8B4513; 
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    }

.add-comment .btn:hover {
    background-color: #6A2F1B; 
}
