#fundo_titulo_principal {
    background-image: url("img/Paisagem_linguística.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px;
    color: white;
}

#titulo_pagina_principal{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

#subtitulo_pagina_principal {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    letter-spacing: 2px;
}

#citacao {
    background-image: url(img/caixacitacao.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 12%;
    align-items: center;
}

#texto_citacao {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.texto2pa{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.6;
    text-align: justify;
}

.parte {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info2pa {
    flex: 1;
}

.imagem2p {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.titulo2pa{
    font-family: 'Times New Roman', Times, serif;
    font-size: 46px;
    color: #4c5b5c;
    margin-bottom: 5px;
}

.img2pa{
    height: 700px;
    width: 729px;
}