body {
    margin: 0;
}

/*Título Principal*/
#fundo_titulo_principal {
    background-image: url("img/Paisagemlinguística.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px;
    color: white;
}

#titulo_pagina_principal {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
}

#subtitulo_pagina_principal {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    letter-spacing: 2px;
}

/*Citação Principal*/
#citacao {
    background-image: url(img/caixacitacao.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 12%;
    align-items: center;
}

#texto_citacao {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/*Início do bloco informacional(sobre o projeto e participantes)*/
.parte {
    display: flex;
    min-height: 70vh;
    align-items: center;
}

.col {
    width: 50%;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box;
}

.col img {
    width: 100%;
    height: 100%;
    height: auto;
    display: block;
}

.texto {
    text-align: left;
    padding: 20px;
}

.texto2pa {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.6;
    text-align: justify;
    padding: 0 18px;
}

.titulo2pa {
    font-family: 'Times New Roman', Times, serif;
    font-size: 46px;
    color: #4c5b5c;
    margin-bottom: 5px;
    text-align: center;
}

/*Relatos*/
.fundorelatos {
    font-family: 'Times New Roman', Times, serif;
    background: #a84309;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 60vh;
    padding: 60px 20px;
    ;

}

.titulorelatos {
    font-family: 'Times New Roman', Times, serif;
    font-size: 46px;
    color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 10%;
    text-align: center;

}

.container.text-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 70%;
    justify-content: center;
}

.comentarios {
    background-color: whitesmoke;
    color: black;
    padding: 70px 70px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.comentarios::before {
    content: "❝ ";
    font-size: 1.2rem;
    color: black;
}

.comentarios::after {
    content: "❞";
    font-size: 1.4rem;
    color: black;
}

/*Acesso aos Inforgráficos*/

.fundoexplore {
    background-color: rgb(236, 228, 216);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 60px 20px;
}

.tituloexplore {
    font-family: 'Times New Roman', Times, serif;
    font-size: 46px;
    color: #a84309;
    margin-bottom: 10%;
    margin-top: 0%;
    text-align: center;
}

.caixas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 90%;
    align-content: center
}

.caixa {
    width: 300px;
    height: 180px;
    border: 3px solid #4c5b5c;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.caixa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caixa .assunto {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Rodapé*/

.fundorodape {
    background: #a84309;
    height: 26%;
    padding: 0 20px;
    position: relative;
}

.inf-gerais p {
    margin-top: 2px;
    margin-bottom: 3px;
    color: white;
}

.logoifmg {
    margin: 0;
    left: 0;
}

.fundorodape hr {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 5px 0;
}