@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
}

/*Título Principal*/
#fundo_titulo_principal {
    background-image: url("img/Paisagemlinguística.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vw;
    color: white;
}

#titulo_pagina_principal {
    font-family: "Playfair Display", serif;
    font-size: 6vw;
    margin-bottom: 10px;
}

#subtitulo_pagina_principal {
    font-family: "Poppins", sans-serif;
    margin-top: 0;
    font-size: 2vw;
    letter-spacing: 2px;
}

/*Citação Principal*/
#citacao {
    background-image: url(img/caixacitacao.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 13vw;
    align-items: center;
}

#texto_citacao {
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/*Início do bloco informacional(sobre o projeto e participantes)*/

.texto {
    text-align: left;
    padding: 2vw;
}

.titulo2pa {
    font-family: "Playfair Display", serif;
    font-size: 3vw;
    color: #4c5b5c;
    margin-bottom: 2vw;
    text-align: center;
}

.texto2pa {
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    line-height: 1.6;
    text-align: justify;
    padding: 0 1.5vw;
}


/*Relatos*/
.fundorelatos {
    background: #a84309;
    max-height: 110vh;
    padding: 3vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulorelatos {
    font-family: "Playfair Display", serif;
    font-size: 4vw;
    color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 3vw;
    text-align: center;

}

.linha {
    width: 80vw;
}

.comentarios {
    background-color: whitesmoke;
    color: black;
    max-width: 35vw;
    min-height: 11vw;
    padding: 1.5vw 2vw;
    border-radius: 1vw;
    font-size: 1.2vw;
    line-height: 1.4vw;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comentarios::before {
    content: "❝ ";
    font-size: 1rem;
    color: black;
}


/*Acesso aos Inforgráficos*/

.fundoexplore {
    background-color: rgb(236, 228, 216);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
    padding: 3vw 2vw;
}

.tituloexplore {
    font-family: "Playfair Display", serif;
    font-size: 4.5vw;
    color: #a84309;
    margin-bottom: 2vw;
    text-align: center;
}


.caixa {
    width: 22vw;
    height: 12vw;
    border: 0.2vw solid #4c5b5c;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
}

.caixa:hover {
    width: 22.1vw;
    height: 12.1vw;
}

.caixa .assunto {
    white-space: nowrap;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    font-size: 1.7vw;
    margin: 0;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Rodapé*/

.fundorodape {
    background: #a84309;
    min-height: 10vw;
    padding: 1vw;
    position: relative;
}

.inf-gerais p {
    margin-top: 2px;
    margin-bottom: 3px;
    color: white;
}

.logoifmg {
    margin: 0;
    left: 0;
    width: 30vw;
}

.texto-rodape {
    font-size: 1.5vw;
}

.titulo-rodape {
    font-size: 1.5vw;
}

<<<<<<< HEAD

/*Login*/
=======
.fundo-login {
    background-color: #a84309;
}

>>>>>>> bffc279f9de8528184a9fe6538b07eb64c0ec7f9
.bloco-branco-login {
    background-color: white;
}

.textos-login {
    color: #a84309;
    font-family: Arial, Helvetica, sans-serif;
}

.link-login {
    color: #a84309;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.link-login:hover {
    color: #572406;
}

#botao-login {
    background-color: #a84309;
    color: white;
    width: 40%;
}